@model Proj2_CRUD.Models.Car


@{
    ViewData["Title"] = "NewCar";
}

<h1>Inserir novo Carro</h1>

<form asp-action="NewCar" method="post">

    <div class="form-group">
        <label asp-for="Brand" class="control-label"></label>
        <input asp-for="Brand" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <input asp-for="Year" class="form-control" />
    </div>

    <input type="submit" value="Save" class="btn btn-secondary" />


</form>


<a asp-action="Index" class="btn btn-link">Back</a>

